workflows/ITSM Mails to discord.json
{
  "active": true,
  "connections": {
    "Gmail Trigger": {
      "main": [
        []
      ]
    },
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Discord2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-23T15:35:10.358Z",
  "id": "F0KsckhuSyRK9W1E",
  "meta": null,
  "name": "ITSM Mails to discord",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "d389f313-10b5-497e-9fa1-dbdc28ba1690",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        440,
        440
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "r7GolQprWsz6VSoH",
          "name": "ITSM Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=**Vous avez reçu un nouveau mail de {{ $json.From }} **\nSujet: {{ $json.Subject }}",
        "options": {}
      },
      "id": "2fbc8dfb-223d-4678-811a-59a05847dade",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        880,
        400
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "KiWgQR4AYAAm4gvf",
          "name": "Mails"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "aforestier@itsm-factory.com",
          "mode": "list",
          "cachedResultName": "aforestier@itsm-factory.com"
        },
        "triggerOn": "eventStarted",
        "options": {}
      },
      "id": "5618aac7-4872-4f84-bddf-bebe580536ff",
      "name": "Google Calendar Trigger",
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        620,
        100
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GOByZf9l8O0TDcyM",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.formattedDate }}  {{ $json.summary }}",
        "options": {}
      },
      "id": "ca07c51a-f5b8-43dc-97ab-fbe8daa8df9c",
      "name": "Discord2",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1280,
        100
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "KiWgQR4AYAAm4gvf",
          "name": "Mails"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.start.dateTime }}",
        "format": "custom",
        "customFormat": "hh:mm",
        "options": {}
      },
      "id": "71b99437-6b03-4731-9c1f-81fbf4c8fd8c",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        840,
        100
      ]
    },
    {
      "parameters": {},
      "id": "3fd61a94-0419-4967-806e-f80302197de7",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        980,
        260
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "lastTimeChecked": 1702439788,
      "possibleDuplicates": [
        "18c6151a391dc9e8"
      ]
    },
    "node:Schedule Trigger": {
      "recurrencyRules": []
    },
    "node:Google Calendar Trigger": {
      "lastTimeChecked": "2023-12-13T03:56:58Z"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-12-13T03:57:21.000Z",
  "versionId": "f625d354-ba98-4e8e-bfe6-c7b577a4f20d"
}