workflows/ITSM Mails to discord.json
{
  "active": true,
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-11-23T15:35:10.358Z",
  "id": "F0KsckhuSyRK9W1E",
  "meta": null,
  "name": "ITSM Mails to discord",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "id": "d389f313-10b5-497e-9fa1-dbdc28ba1690",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        640,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "r7GolQprWsz6VSoH",
          "name": "ITSM Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=**Vous avez reçu un nouveau mail de {{ $json.From }} **\nSujet: {{ $json.Subject }}",
        "options": {}
      },
      "id": "2fbc8dfb-223d-4678-811a-59a05847dade",
      "name": "Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        860,
        200
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "KiWgQR4AYAAm4gvf",
          "name": "Mails"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "ba03e33a-c39b-4b10-b479-8318722408f4",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        640,
        40
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=Une nouvelle journée commence !",
        "options": {}
      },
      "id": "50f3c11b-6404-49e8-9544-6274e926be00",
      "name": "Discord1",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        860,
        40
      ],
      "credentials": {
        "discordWebhookApi": {
          "id": "KiWgQR4AYAAm4gvf",
          "name": "Mails"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "lastTimeChecked": 1701092209,
      "possibleDuplicates": [
        "18c10ff3b841ef58"
      ]
    },
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2023-11-28T05:00:00.000Z",
  "versionId": "85de4b8a-838f-48a4-8ee5-ea93b171451d"
}